
/* MAPS */
#maps-section {
    position: relative;
    width: 100%;
    height: 50vh;
    margin: 0 auto;
}
#map-1, #map-2, #map-3 {
   position: absolute;
   width: 100%;
    opacity: 0;

}

#map-1 {
    opacity: 1
}


/* HORIZONTAL SLIDER */

#horizzontal-slider {
    position: relative;
    height: 450px;
    overflow: hidden;
}

.stat-slide {
    position: absolute;
    width: 100%;
    height: 100%;
}

